COVE_DATA_ROOT=~/Documents/cove-data
FORGEJO_IMAGE=codeberg.org/forgejo/forgejo:15
FORGEJO_CONTAINER_NAME=cove-forgejo
FORGEJO_DOMAIN=git.cove
FORGEJO_ROOT_URL=https://git.cove/
FORGEJO_SSH_DOMAIN=git.cove
FORGEJO_SSH_PORT=2222
FORGEJO_UID=501
FORGEJO_GID=20
VAULT_IMAGE=hashicorp/vault:1.20@sha256:268bb80aa9c6d13d65fcfa05c0c268caca068952240a8087291a6ce0b66e3a10
VAULT_CONTAINER_NAME=cove-vault
NGINX_IMAGE=nginx:1.27-alpine
NGINX_CONTAINER_NAME=cove-nginx
NGINX_CONF_DIR=./nginx
DNSMASQ_CONF_DIR=./dnsmasq
DNSMASQ_CONTAINER_NAME=cove-dnsmasq
DNSMASQ_PORT=5353
MKCERT_CAROOT=<from mkcert -CAROOT>