---
items:
  - title: "Vault {{ ansible_hostname }} {{ admin_username }}"
    vault: {{ op_vault }}
    category: login
    fields:
      username: "{{ admin_username }}"
      password: "{{ '{{generate:32}}' }}"
      url[text]: http://127.0.0.1:8200/ui/
      host[text]: "{{ ansible_hostname }}"
      auth_method[text]: userpass